.first-class {
    font-size: 24px;
    font-style: italic;
    color: red;
}
.parent {
    height: 400px;
    width: 400px;
    border: 1px solid blue;
    background-color:purple;
    padding-top: 50px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    position: relative;
    transition: 1s all ease-in-out;
    cursor: pointer;
}
.parent:hover {
    background-color: black;
    color: white;
    height: 200px;
    width: 200px;
}

.child {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

.list {
    list-style: none;
    padding: 0;
}

.image-container {
    text-align: center;
    display: block;
    padding-top:100px;
    padding-bottom: 100px; 
}

.image-container-link {
    display: block;
}

.form-container input {
    display: block;
}

